.content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 5px 15px;
    border-bottom: 1px solid grey;
}
.goBack {
    display: block;
    padding: 10px;
}
.listOcen {
    display: flex;
    flex-direction: column; 
    gap: 5px;
    padding: 15px;
}
.link {
    text-decoration: none;
}
.active {
    color:  #1f7319;
}
.container {
    display: flex;
    justify-content: center;
}
